<IfModule mod_rewrite.c>
  RewriteEngine On
  # RewriteBase /bun/dist/

  # Jika file atau folder ada, gunakan langsung
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Redirect semua request ke index.html
  RewriteRule ^ index.html [L]
</IfModule>
